# Public hostname, without scheme or port
APPLICATION_HOSTS=dawarich.rotiav.com.br

# Application
DAWARICH_APP_PORT=3000
RAILS_ENV=production
APPLICATION_PROTOCOL=https
TIME_ZONE=America/Sao_Paulo
SELF_HOSTED=true
STORE_GEODATA=true

# Generate with:
# openssl rand -hex 64
SECRET_KEY_BASE=

# PostgreSQL
POSTGRES_USER=dawarich
POSTGRES_PASSWORD=
POSTGRES_DB=dawarich

DATABASE_HOST=dawarich_db
DATABASE_PORT=5432
DATABASE_USERNAME=dawarich
DATABASE_PASSWORD=
DATABASE_NAME=dawarich

# Redis
REDIS_URL=redis://dawarich_redis:6379

# Workers
WEB_CONCURRENCY=1
BACKGROUND_PROCESSING_CONCURRENCY=3

# Logging
RAILS_LOG_TO_STDOUT=true
LOG_MAX_SIZE=100m
LOG_MAX_FILE=5

# Resources
APP_CPU_LIMIT=0.50
APP_MEMORY_LIMIT=4G

# Metrics
PROMETHEUS_EXPORTER_ENABLED=false

# Optional: run as non-root user
# PUID=1000
# PGID=1000

# Optional: 2FA encryption
# OTP_ENCRYPTION_PRIMARY_KEY=
# OTP_ENCRYPTION_DETERMINISTIC_KEY=
# OTP_ENCRYPTION_KEY_DERIVATION_SALT=
