DATABASE_URL=
NEXTAUTH_URL=https://linkwarden.example.com
NEXTAUTH_SECRET=
NEXT_PUBLIC_AUTHENTIK_ENABLED=true
AUTHENTIK_ISSUER=
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
NEXT_PUBLIC_CREDENTIALS_ENABLED=false
